.cs-nav { flex-grow: 1; }
#cs-navigation .cs-container, #cs-navigation .cs-logo, #cs-navigation .cs-logo img,
  #cs-navigation {
  max-height: 8vh;
}
#cs-navigation {
  width: 100%;
  /* prevents padding and border from affecting height and width */
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  z-index: 10000;
}
#cs-navigation .cs-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#cs-navigation .cs-toggle {
  display: none;
}
#cs-navigation .cs-logo {
  width: 18.4%;
  max-width: 21.875rem;
  height: 4.0625rem;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#cs-navigation .cs-logo img {
  width: 100%;
  height: 100%;
  /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
  object-fit: contain;
}
#cs-navigation .cs-ul {
  width:100%;
  margin:0;padding:0;
  display:flex;justify-content:space-around;
  align-items: center;
}
#cs-navigation .cs-li {
  list-style: none;
  align-content: center;
  text-overflow: ellipsis;
}
.cs-li a {
  align-content: center;
}
#cs-navigation .cs-li-link {
  font-size: min(max(0.875rem,1.5vw), 3vmin);
  line-height: 1.5em;
  text-decoration: none;
  margin: 0;
  color: var(--bodyTextColor);
  display: block;
  position: relative;
}
#cs-navigation .cs-li-link:hover:before {
  width: 100%;
}
#cs-navigation .cs-li-link.cs-active:before {
  width: 100%;
}
#cs-navigation .cs-li-link:before {
  /* active state underline */
  content: "";
  width: 0%;
  height: 2px;
  background: var(--primary);
  opacity: 1;
  display: block;
  position: absolute;
  bottom: 0rem;
  left: 0;
  transition: width 0.3s;
}
#cs-navigation .cs-button-solid {
  font-size: 1rem;
  font-weight: 700;
  /* 46px - 56px */
  line-height: clamp(2.875em, 5.5vw, 3.5em);
  text-align: center;
  text-decoration: none;
  min-width: 9.375rem;
  margin: 0;
  /* prevents padding from adding to the width */
  box-sizing: border-box;
  padding: 0 1.5rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  z-index: 1;
}
#cs-navigation .cs-button-solid:before {
  content: "";
  width: 0%;
  height: 100%;
  background: #000;
  opacity: 1;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 0.3s;
}
#cs-navigation .cs-button-solid:hover:before {
  width: 100%;
}