.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full viewport height */
  }

  .passroul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }