*, *:before, *:after { box-sizing: border-box; }

::-webkit-scrollbar { width:6px;height:6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
  border: 1px solid transparent;
  background-clip: content-box; }
* { scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.5) transparent; }

:root {
    /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
    --primary: #000;
    --primaryLight: #fff;
    --bg: #334;
    --headerBg: #bbc;
    --secondary: #fff;
    --secondaryLight: #000;
    --headerColor: #4e4b66;
    --bodyTextColor: #4e4b66;
    --bodyTextColorWhite: #4e4b66;
    --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
    --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
    --bodyFontSize: 1rem;
}

body {
    margin:0;padding:0;
    background-color: var(--bg); }

textarea {
    border:none;outline:none;resize:none;
    transition: color 1s ease, background-color 1s ease; }
button {
    transition: color .25s ease, background-color .25s ease; }
button:not([disabled]):hover { cursor: pointer; }

.buttonList {
    display:flex;flex-direction:row;
    flex-wrap: wrap;
    width:100%;min-height:5%;
    align-items:center;justify-content:space-evenly;
    gap:1vw;
}
.buttonList > button {
    flex-grow:1;
    background-color:#fff;color:#000;
    height:auto;
    border:none;outline:none;
    padding-bottom:.5vh;padding-top:.5vh;
    border-radius: 1vmax;
    align-content:center;
    min-width:100px;
    font-size:2.5vmin; }
.buttonList button:disabled      { background-color:#fff;color:#000; }
.buttonList button:enabled:hover { background-color:#888;color:#fff; }
.buttonList button:enabled       { background-color:#000;color:#fff; }

#cs-expanded { gap: 1vw; }
.navLogoImg { height:100%;padding-right:5px; }

.submit-btn {
    display: block;
    padding: 10px 20px;
    margin-top: 2vmin;
    width: 30vmax;
    background-color:#fff;color:#000;
    border:none;border-radius:4px;
    font-size: 16px; }
.submit-btn:hover { background-color:#000;color:#fff; }