:root { overflow: hidden; }

.yinyang { padding-top: 9vh; }

.container {
    display:flex;flex-direction:column;
    justify-content:center;align-items:center; }

.textboxarea {
    display:flex;flex-wrap:wrap;
    align-items:center;justify-content:center;
    gap: 0vw; }

.textboxLight,.textboxDark {
    width:30vw;height:50vh;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px; }

.textboxLight { background-color:#fff;color:#000; }
.textboxDark  { background-color:#000;color:#fff; }

.togglebar {
    display:flex;flex-direction:column;
    align-items:center;justify-content:center;
    width:80vw;height:20vh; }

.yinyang_bg, bruh, swag { width:60vw;height:8vh; }
bruh, swag, psuedo {border-radius: 50000px;}
.yinyang_bg {
    background:#0000;
    margin:0px;padding:0px;
    margin-bottom:1vmin;margin-top:1vmin;
    transform-origin: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    overflow: hidden; }
.yinyang_bg:hover { cursor:pointer; }
   
bruh {
    display:flex;flex-direction:row;justify-content:space-around;
    align-items:center; }
bruh > * { font-size: 2.5vmin; }
bruh:first-child { color:#fff; }
bruh:last-child  { color:#000; }
swag {
    position:absolute;z-index:-1;
    display:flex;justify-content:center;align-items:center;
    clip-path: xywh(0% 0px 100% 100% round 2vmin); }
psuedo {
    position:absolute;z-index:-1;
    content: "";
    transition: transform 1s ease;
    transform: rotate(0deg);
    width:142vh;
    aspect-ratio:1;
    background: url('../res/yinyang.svg') no-repeat center calc(50% - 0.1vh);
    background-size: cover; }

.rot180 { transform: rotate(180deg); }